{% extends "dashboard.html" %}
{% block content %}
<h3>Kirim Gambar</h3>
<form action="{{ url_for('image_bp.send_image') }}" method="POST" enctype="multipart/form-data">
     <div class="mb-3">
        <label>Pilih Penerima</label>
        <select name="receiver_id" class="form-control" required>
            {% for u in users %}
                <option value="{{ u.id }}">{{ u.nama }} (ID: {{ u.id }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label>Pesan Rahasia</label>
        <textarea name="hidden_text" rows="4" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <label>Pilih Gambar</label>
        <input type="file" name="image" accept="image/png,image/jpeg" class="form-control" required>
    </div>
    <button class="btn btn-primary">Kirim Gambar</button>
</form>
{% endblock %}
