{% extends "dashboard.html" %}
{% block content %}
<h3>Kirim File</h3>
<form action="{{ url_for('file_bp.send_file') }}" method="POST" enctype="multipart/form-data">
     <div class="mb-3">
        <label>Pilih Penerima</label>
        <select name="receiver_id" class="form-control" required>
            {% for u in users %}
                <option value="{{ u.id }}">{{ u.nama }} (ID: {{ u.id }})</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label>Pilih File</label>
        <input type="file" name="file" class="form-control" required>
    </div>
    <button class="btn btn-primary">Kirim</button>
</form>
{% endblock %}
